body {
    background-image: url(./images/bg.jpg);
    background-size: repeat-x;
   background-size: cover;
   height: 100vh;
}

.mario {
    position: absolute;
    bottom: 35px;
    width: 100px;
}

.marioRun {
    position: absolute;
    bottom: 35px;
    width: 100px;
}
