body {
    background-image: url(./images/bg.jpg);
    background-size: repeat-x;
   /* background-color: blue;
   /* position: relative; */
   height: 100vh;
   background-position: bottom;
  
}
/* 
.cover-image {
    background-repeat: repeat-y;
    position: absolute;
    bottom: 0;   
} */
.mario {
    position: absolute;
    bottom: 70px;
    width: 100px;
}
